@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* Base */
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.75;
  font-family: "Poppins", sans-serif;
  color: #707070;
}

.h1 {
  font: normal normal 600 75px/90px Poppins !important;
  letter-spacing: -0.6px;
  color: #FFFFFF;
}

.h3 {
  text-align: center;
  font: normal normal 600 28px/40px Poppins;
  letter-spacing: 0.56px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}

.h4 {
  font: normal normal normal 24px/31px Poppins !important;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.h5 {
  text-align: center;
  font: normal normal normal 11px/13px Lato;
  letter-spacing: 0.1px;
  color: #E3403D;
}

.label {
  font: normal normal normal 11px/13px Lato;
  letter-spacing: 0.1px;
  color: #707070;
  text-transform: uppercase;
}

.input {
  width: 100%;
  display: block;
  font: normal normal normal 18px/27px Poppins;
  letter-spacing: 0.16px;
  color: #000000;
  text-transform: capitalize;
  outline: none;
  border: none;
}

.select {
  width: 100%;
  border: none !important;
  outline: none;
  display: block;
  font: normal normal normal 18px/27px Poppins !important;
  letter-spacing: 0.16px !important;
  color: #000000 !important;
  background: transparent;
}

.btn-custom {
  width: 100%;
  height: 100%;
  margin-left: -13px;
  background: #E3403D 0% 0% no-repeat padding-box;
  border: none;
  text-transform: uppercase;
  color: white;
  padding: 17px;
}
.btn-custom:hover {
  background-color: #c52b29;
}

.btn-custom-outline {
  height: 100%;
  margin-left: -13px;
  background: transparent;
  border: 1px solid #E3403D;
  text-transform: uppercase;
  color: #E3403D;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.btn-custom-outline i {
  margin-left: 5px;
}
.btn-custom-outline:hover {
  background-color: #E3403D;
  color: white;
  animation-duration: 750ms;
}

.btn-custom-icon {
  height: 51px;
  width: 51px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-custom-icon:hover {
  background-color: white;
  color: #E3403D;
}

.breadcrumb-custom {
  font: normal normal normal 11px/13px Lato;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  padding: 17px;
  background-color: #F5F5F5;
}
.breadcrumb-custom a {
  color: #E3403D;
  margin-right: 5px;
  text-decoration: none;
}
.breadcrumb-custom label {
  color: #707070;
  margin-left: 5px;
}

/* ----------------------------------- *\
    MOBILE
\* ----------------------------------- */
@media screen and (max-width: 600px) {
  .breadcrumb-custom {
    display: none;
  }
}
/* Layout 
@import "layout/grid";
*/
/* Modules */
.header {
  /* ----------------------------------- *\
      $TOPBAR
  \* ----------------------------------- */
  /* ----------------------------------- *\
      $NAVBAR
  \* ----------------------------------- */
}
.header .topbar {
  height: 28px;
  background-color: #E3403D;
}
.header .topbar a {
  color: white;
  text-decoration: none;
}
.header .topbar a i {
  margin-left: 8px;
}
.header .topbar .topbar_social-media {
  float: right !important;
}
.header .navbar {
  height: 72px;
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 9px 18px #0000000B !important;
}
.header .navbar .nav .nav-item .nav-link {
  font: normal normal normal 14px/21px Poppins;
  color: #707070 !important;
}
.header .navbar .nav .nav-item .nav-link:hover {
  font: normal normal 600 14px/21px Poppins;
  color: #000000 !important;
  background: #FDF1F0 0% 0% no-repeat padding-box;
}
.header .navbar .nav .nav-item .active {
  font: normal normal 600 14px/21px Poppins;
  color: #000000 !important;
  background: #FDF1F0 0% 0% no-repeat padding-box;
  border-bottom: 4px solid #E3403D;
}
.header .nav-mobile {
  display: none;
}
.header .menu-mobile {
  display: none;
}

/* ----------------------------------- *\
    MOBILE
\* ----------------------------------- */
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .header .topbar {
    display: none;
  }
  .header .nav-web {
    display: none;
  }
  .header .nav-mobile {
    display: block;
    float: right;
    position: absolute;
    right: 17px;
    top: 24px;
  }
  .header .nav-mobile button {
    width: 44px;
    height: 44px;
    border: none;
    background: transparent;
    color: #000000;
    font-size: 25px;
  }
  .header .menu-mobile {
    display: none;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding-top: 20px;
  }
  .header .menu-mobile .menu-title {
    text-align: center;
    font: normal normal bold 21px/31px Poppins;
    color: #000000;
  }
  .header .menu-mobile .close-btn {
    position: absolute;
    bottom: 30px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .header .menu-mobile .close-btn button {
    width: 44px;
    height: 44px;
    background: white;
    font: normal normal 600 19px/13px Poppins;
    letter-spacing: 0.32px;
    color: #E3403D;
    border: 1px solid #E3403D;
  }
  .header .menu-mobile .close-btn button:hover {
    background: #E3403D 0% 0% no-repeat padding-box;
    color: white;
  }
  .header .menu-mobile ul {
    display: block;
    text-align: center;
  }
  .header .menu-mobile ul .nav-link {
    font: normal normal normal 14px/21px Poppins;
    color: #707070 !important;
  }
  .header .menu-mobile ul .nav-link:hover {
    font: normal normal 600 14px/21px Poppins;
    color: #000000 !important;
    background: #FDF1F0 0% 0% no-repeat padding-box;
  }
  .header .menu-mobile ul .active {
    font: normal normal 600 14px/21px Poppins;
    color: #000000 !important;
    background: #FDF1F0 0% 0% no-repeat padding-box;
    border-bottom: 4px solid #E3403D;
  }
}
.search {
  width: 100%;
  height: 555px;
  background: url(../img/bgSearch.png) center top no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: left;
}
.search .searchForm {
  height: 79px;
  margin-top: 47px;
}
.search .searchForm .searchFieldsContent {
  padding: 15px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}
.search .searchForm .searchFieldsContent .searchField {
  border-right: 1px solid #CBCBCB;
}
.search .searchForm .searchFieldsContent .searchField:last-child {
  border-right: none;
}

/* ----------------------------------- *\
    MOBILE
\* ----------------------------------- */
@media screen and (max-width: 600px) {
  .search {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding: 40px;
  }
  .search h1 {
    font: normal normal 600 38px/45px Poppins !important;
    letter-spacing: -0.3px !important;
  }
  .search h4 {
    font: normal normal normal 15px/23px Poppins !important;
  }
  .search .searchForm {
    margin-top: 0;
  }
  .search .searchForm .btn-custom {
    margin-left: 0;
  }
  .search .searchForm-mobile {
    background: white;
    padding: 10px;
  }
  .search .searchForm-mobile .searchFieldsContent .searchField {
    border-right: 0;
    border-bottom: 1px solid #CBCBCB;
    padding-bottom: 10px;
  }
}
.destinations {
  width: 100%;
  padding-top: 48px;
}
.destinations .destinationsCards {
  padding-top: 48px;
}
.destinations .all {
  display: flex;
  align-items: center;
  justify-content: center;
}
.destinations .all .btn-custom-outline {
  width: 20%;
  padding: 20px;
}

/* ----------------------------------- *\
    MOBILE
\* ----------------------------------- */
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .destinations .all .btn-custom-outline {
    width: 50%;
  }
}
.card_dest {
  width: 100%;
  height: 344px;
  position: relative;
}
.card_dest .dest_img {
  position: relative;
  width: 100%;
  height: 309px;
  object-fit: cover;
}
.card_dest .card_content {
  position: absolute;
  bottom: 34px;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}
.card_dest .card_content .link {
  margin-top: 5px;
  display: none;
}
.card_dest:hover .link {
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 2s;
}

.offers {
  margin-top: 48px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #FAFAFA;
}

.off_card {
  position: relative;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 9px 18px #00000012;
  margin-top: 20px;
}
.off_card .off_img img {
  width: 100%;
  height: 181px;
  object-fit: cover;
}
.off_card .off_content .off_content-tarif {
  width: 168px;
  height: 56;
  position: absolute;
  right: 0px;
  top: 142px;
  background: #E3403D 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 10px #0000001C;
  text-align: center;
}
.off_card .off_content .off_content-tarif label {
  font: normal normal normal 9px/11px Lato;
  letter-spacing: 0.08px;
  color: #FFFFFF;
}
.off_card .off_content .off_content-tarif h3 {
  font: normal normal 600 27px/21px Poppins;
  letter-spacing: 0.54px;
  color: #FFFFFF;
}
.off_card .off_content .off_content-title {
  padding: 32px 14px 0px 14px;
}
.off_card .off_content .off_content-title h2 {
  width: 100% !important;
  text-align: left;
  font: normal normal 600 16px/13px Poppins;
  letter-spacing: 0.32px;
  color: #000000;
}
.off_card .off_content .off_content-reviewDate {
  padding: 0 14px 5px 14px;
}
.off_card .off_content .off_content-reviewDate .off_content-review label, .off_card .off_content .off_content-reviewDate .off_content-nextDate label {
  text-align: left;
  font: normal normal normal 11px/13px Lato;
  letter-spacing: 0.1px;
  color: #707070;
}
.off_card .off_content .off_content-reviewDate .off_content-nextDate h3 {
  text-align: left;
  font: normal normal 600 15px Poppins;
  letter-spacing: 0.26px;
  color: #005F00;
}
.off_card .off_content .off_content-callToAction {
  padding: 0 14px 0px 14px;
}
.off_card .off_content .off_content-callToAction .btn-custom-outline {
  width: 114%;
  padding: 10px;
}
.off_card .off_content .off_content-callToAction .btn-details {
  border-color: #D3D3D3;
  color: #707070;
}
.off_card .off_content .off_content-callToAction .btn-details:hover {
  background-color: #D3D3D3;
  color: #5c5b5b;
}

footer {
  background: #ECECEC 0% 0% no-repeat padding-box;
  padding: 39px 0 39px 0;
  position: relative;
}
footer .footer_logo img {
  margin-bottom: 15px;
}
footer .footer_logo a {
  margin-right: 8px;
  text-decoration: none;
}
footer .footer_logo a i {
  color: #E3403D;
}
footer .footer_cr {
  position: relative;
}
footer .footer_cr p {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  font: normal normal normal 14px/21px Poppins;
  color: #707070;
}

/* ----------------------------------- *\
    MOBILE
\* ----------------------------------- */
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  footer .footer_cr {
    margin-top: 15px;
    position: static !important;
  }
  footer .footer_cr p {
    text-align: center;
  }

  footer .footer_logo {
    text-align: center;
    padding-bottom: 15px;
  }
}
.result-section {
  width: 100%;
  height: 351px;
  background: url(../img/bgResult.png) center top no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-section h1 {
  font: normal normal 600 59px/71px Poppins;
  color: #FFFFFF;
  text-transform: capitalize;
}
.result-section h4 {
  text-align: center;
  font: normal normal normal 26px/31px Poppins;
  color: #FFFFFF;
}

/* ----------------------------------- *\
    MOBILE
\* ----------------------------------- */
@media screen and (max-width: 600px) {
  .result-section h1 {
    font: normal normal 600 27px/45px Poppins;
  }
  .result-section h4 {
    font: normal normal normal 15px/23px Poppins;
  }

  .results-filters .searchFilters {
    padding: 15px !important;
    margin-left: 15px !important;
  }
}
.results-filters {
  margin-top: 48px;
  margin-bottom: 48px;
}
.results-filters .searchFilters {
  padding: 30px;
  background-color: #F5F5F5;
  margin-right: 15px !important;
}
.results-filters .searchFilters .searchField {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
}
.results-filters .searchFilters .btn-custom {
  height: auto;
  margin-left: 0px;
}
.results-filters .features {
  margin-top: 15px;
  padding: 30px;
  background-color: #F5F5F5;
  margin-right: 15px !important;
}
.results-filters .features h1 {
  font: normal normal 600 20px/40px Poppins;
  letter-spacing: 0.4px;
  color: #000000;
  text-transform: uppercase;
}
.results-filters .features .form-check {
  margin-top: 10px;
}
.results-filters .features .form-check label {
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0.14px;
  color: #000000;
}
.results-filters .features .form-check .form-check-input[type=checkbox] {
  width: 28px;
  height: 28px;
  margin-right: 5px;
  border-radius: 0;
}
.results-filters .features .form-check .form-check-input:checked {
  background-color: #E3403D;
  border-color: #E3403D;
}
.results-filters .tags {
  margin-top: 15px;
}
.results-filters .tags .tag {
  padding: 20px;
  background: #F9F9F9 0% 0% no-repeat padding-box;
  display: inline-block;
  margin-top: 10px;
}
.results-filters .tags .tag span {
  text-align: left;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0.14px;
  color: #000000;
}
.results-filters .tags .tag i {
  color: #E3403D;
}
.results-filters .tags .btn-custom-outline {
  height: auto;
  width: 100%;
  padding: 20px;
  margin-left: 0;
  margin-top: 15px;
}
.results-filters .tags .btn-custom-outline i {
  margin-right: 5px;
}
.results-filters .sort {
  background-color: #F5F5F5;
  padding-top: 10px;
  height: 49px;
}
.results-filters .pages {
  margin-top: 48px;
  text-align: right;
}
.results-filters .pages ul li {
  display: inline-block;
}
.results-filters .pages ul li a {
  padding: 10px 20px;
  text-decoration: none;
  font: normal normal 600 19px/13px Poppins;
  letter-spacing: 0.32px;
  color: #E3403D;
}
.results-filters .pages ul li a:hover {
  background: #E3403D 0% 0% no-repeat padding-box;
  color: white;
}
.results-filters .pages ul li a:last-child {
  border: 1px solid #E3403D;
}
.results-filters .pages ul .active {
  background: #E3403D 0% 0% no-repeat padding-box;
  color: white !important;
}
.results-filters .features-mobile {
  display: none;
}
.results-filters .btn-features {
  display: none;
}

/* ----------------------------------- *\
    MOBILE
\* ----------------------------------- */
@media screen and (max-width: 600px) {
  .btn-features {
    display: block !important;
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 50;
  }
  .btn-features button {
    width: 60px;
    height: 60px;
    border: none;
    background: #E3403D 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #00000022;
    color: white;
  }
  .btn-features span {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    text-align: center;
    font: normal normal normal 10px/16px Lato;
    letter-spacing: 0.12px;
    color: #E3403D;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .features-web {
    display: none !important;
  }

  .features-mobile {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.3) !important;
    margin-top: 0px !important;
  }
  .features-mobile .content_features-mobile {
    background: white;
    opacity: 1 !important;
  }
  .features-mobile .content_features-mobile .btn-custom-outline {
    width: 100%;
    margin-left: 0 !important;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 8px;
  }
  .features-mobile .content_features-mobile .btn-close-features {
    border: none !important;
    color: #707070;
  }
  .features-mobile .content_features-mobile .btn-close-features:hover {
    border: 1px solid #707070;
    background: white !important;
    margin-top: 10px !important;
  }

  .sort {
    margin-top: 10px !important;
  }
}
.hotel-imgs .carousel-inner img {
  object-fit: cover;
}
.hotel-imgs .carousel-control-prev-icon {
  background-image: url(../img/prev-icon.svg) !important;
  position: absolute;
  left: 0px;
  z-index: 5;
}
.hotel-imgs .carousel-control-next-icon {
  background-image: url(../img/next-icon.svg) !important;
  position: absolute;
  right: 0px;
  z-index: 5;
}
.hotel-imgs .carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  opacity: 1;
}
.hotel-imgs .carousel-indicators .active {
  opacity: 1;
  background-color: #E3403D;
}

.details-hotel {
  padding-top: 48px;
  padding-bottom: 48px;
}
.details-hotel h1 {
  text-align: left;
  font: normal normal 600 24px/30px Poppins;
  letter-spacing: 0.48px;
  color: #000000;
}
.details-hotel h4 {
  text-align: left;
  font: normal normal 600 18px/40px Poppins;
  color: #000000;
  text-transform: uppercase;
}
.details-hotel p {
  text-align: left;
  font: normal normal normal 16px/21px Poppins;
  color: #707070;
  line-height: 30px;
}
.details-hotel .details-hotel_infos {
  position: relative;
  top: -106px;
  width: 352px;
  padding: 20px;
  margin: 0 auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #00000012;
}
.details-hotel .details-hotel_infos .details-hotel_infos-item {
  margin-top: 20px;
}
.details-hotel .details-hotel_infos .details-hotel_infos-item .btn-custom {
  margin-left: 0;
}
.details-hotel .details-hotel_infos .details-hotel_infos-item label {
  text-align: left;
  font: normal normal normal 16px/19px Lato;
  letter-spacing: 0.14px;
  color: #707070;
}
.details-hotel .details-hotel_infos .details-hotel_infos-item .price h3 {
  text-align: left;
  font: normal normal 600 35px/27px Poppins;
  letter-spacing: 0.7px;
  color: #E3403D;
}
.details-hotel .details-hotel_infos .details-hotel_infos-item .date h3 {
  text-align: left;
  font: normal normal 600 16px/16px Poppins;
  letter-spacing: 0.32px;
  color: #005F00;
}

/* ----------------------------------- *\
    MOBILE
\* ----------------------------------- */
@media screen and (max-width: 600px) {
  .details-hotel-container {
    display: flex !important;
  }
  .details-hotel-container .details-hotel_description {
    order: 1 !important;
  }
}

/*# sourceMappingURL=style.css.map */
