.destinations {
    width: 100%;
    padding-top: 48px;
    .destinationsCards {
        padding-top: 48px;
    }

    .all {
        display: flex;
        align-items: center;
        justify-content: center;
        .btn-custom-outline {
            width: 20%;
            padding:20px;
        }
    }
}

/* ----------------------------------- *\
    MOBILE
\* ----------------------------------- */

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .destinations .all .btn-custom-outline {
        width: 50%;
    }
}