.off_card {
    position: relative;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 9px 18px #00000012;
    margin-top: 20px;
    .off_img {
        img {
            width: 100%;
            height: 181px;
        }
    }

    .off_content {
        .off_content-tarif {
            width: 168px;
            height:56;
            position: absolute;
            right: 0px;
            top:142px;
            background: #E3403D 0% 0% no-repeat padding-box;
            box-shadow: 0px 5px 10px #0000001C;
            text-align: center;
            label {
                font: normal normal normal 9px/11px Lato;
                letter-spacing: 0.08px;
                color: #FFFFFF;
            }

            h3 {
                font: normal normal 600 27px/21px Poppins;
                letter-spacing: 0.54px;
                color: #FFFFFF;
            }
        }

        .off_content-title {
            padding: 32px 14px 0px 14px;
            h2 {
                width: 100% !important;
                text-align: left;
                font: normal normal 600 16px/13px Poppins;
                letter-spacing: 0.32px;
                color: #000000;
            }
        }

        .off_content-reviewDate {
            padding: 0 14px 5px 14px;
            .off_content-review, .off_content-nextDate{
                label {
                    text-align: left;
                    font: normal normal normal 11px/13px Lato;
                    letter-spacing: 0.1px;
                    color: #707070;
                }
            }

            .off_content-nextDate {
                h3 {
                    text-align: left;
                    font: normal normal 600 15px Poppins;
                    letter-spacing: 0.26px;
                    color: #005F00;
                }
            }
        }


        .off_content-callToAction {
            padding: 0 14px 0px 14px;
            .btn-custom-outline {
                width: 114%;
                padding: 10px;
            } 

            .btn-details {
                border-color: #D3D3D3;
                color: #707070;
                &:hover {
                    background-color: #D3D3D3;
                    color: #5c5b5b;
                }
            }
        }


    }
}